<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Python developer</title>
    <link rel="stylesheet" href="base.css">
</head>
<body>
    <div class="wrapper">
        <div class="wrap">
            <div class="arrow animated bounce"></div>
                <header>   
                    <div class="logo"></div>
                    <nav>
                      <ul>
                        <li></li>
                        <li></li>
                        <li></li>
                      </ul>
                    </nav>
                </header>
                <section class="transparent">
                <div class="headline"></div>
                <div class="text"></div>
                <div class="text"></div>
                <div class="button"></div>
                </section> 
                <section class="cards">
                <div class="card">
                  <img src="https://imgplaceholder.com/500x300/transparent/ddd/ion-image" alt="">
                  <div class="content">
                    <div class="headline"></div>
                    <div class="text"></div>
                    <div class="text"></div>
                    <div class="button"></div>
                  </div>
                </div>
                <div class="card">
                  <img src="https://imgplaceholder.com/500x300/transparent/ddd/ion-image" alt="">
                  <div class="content">
                    <div class="headline"></div>
                    <div class="text"></div>
                    <div class="text"></div>
                    <div class="button"></div>
                  </div>
                </div>
                <div class="card">
                  <img src="https://imgplaceholder.com/500x300/transparent/ddd/ion-image" alt="">
                  <div class="content">
                    <div class="headline"></div>
                    <div class="text"></div>
                    <div class="text"></div>
                    <div class="button"></div>
                  </div>
                </div>
                </section>
                <section class="contentbox">
                <div class="headline"></div>
                <div class="text"></div>
                <div class="text"></div>
                <div class="text"></div>
                <div class="button"></div>
                </section>
        </div>
    </div>
    <footer class="footer">
        <div class="logo">Кузьмин Никита Андреевич РИ-220948</div>
        <nav>
            УрФУ, ИРИТ-РТФ
        </nav>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="base.js"></script>
</body>
</html>